@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
	font-family: "Roboto", sans-serif;
	font-size: 17px;
	line-height: 1.5em;
	margin: 0;
	padding: 0;
}

img {
	width: 100%;
}

.container {
	margin: auto;
}

/* COMMON CLASSES */
.primary-text {
	color: #eee241;
}

.primary-background {
	background: #56a79a;
}

/* HEADER */
#main-header {
	border-bottom: 1px solid #56a79a;
}

/* NAVBAR */
#navbar {
	text-transform: uppercase;
}

#navbar li {
	display: inline;
	padding-right: 20px;
	list-style: none;
}

#navbar a {
	text-decoration: none;
	color: #888;
}

#navbar li.current a,
#navbar a:hover {
	color: #f1e315;
	border-bottom: 3px solid #f1e315;
	padding-bottom: 3px;
}

/* SHOWCASE */
#showcase {
	background: url("https://images.unsplash.com/photo-1549890762-0a3f8933bc76?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1135&q=80")
		no-repeat center center/cover;
	border-bottom: 1px solid #56a79a;
}

#showcase .row {
	height: 600px;
}

#showcase h1 {
	font-size: 50px;
	margin-right: 70px;
	/* padding-bottom: 10px; */
}

#showcase p {
	color: rgba(248, 236, 236, 0.932);
	font-size: 30px;
	margin-right: 70px;
}

#showcase .showcase-content {
	color: #fff;
	border-radius: 90px;
	margin-right: 100px;
	padding: 40px;
}
/* about */
.about {
	background-color: #585857d0;
	padding-top: 30px;
}
.about h2 {
	font-size: 60px;
}
.about p {
	font-family: cursive;
	text-align: left;
	font-size: 20px;
}
/* FEATURES */
#features {
	margin: 0px;
	padding-bottom: 50px;
	background-color: azure;
}
#features h2 {
	color: rgb(68, 68, 68);
	font-size: 35px;
	margin: 20px;
	padding-bottom: 10px;
}

#features .fa {
	font-size: 60px;
	color: #66d4e7;
}
.card-body a {
	background-color: brown;
}
.card-body a:hover {
	background-color: rgb(62, 186, 122);
}
/* COMPANY */
#company {
	background: #333;
	color: #fff;
	padding: 30px 10px;
}

#company h4 {
	text-transform: uppercase;
	margin-bottom: 0;
}

#company ul {
	padding: 0;
	list-style: none;
	line-height: 2em;
}

#company input[type="text"] {
	padding: 7px;
}

#company button {
	background: #222;
	color: #fff;
	padding: 10px;
	border: 0;
}

/* FOOTER */
#main-footer {
	padding-top: 30px;
	background: #56a79a;
	color: #fff;
}

/* PAGE */
#page {
	padding-bottom: 20px;
}
#about-img {
	width: 400px;
	margin-bottom: 20px;
}

/* CONTACT */
.contact form {
	background: #333;
	color: #fff;
	padding: 20px;
}

.contact form input[type="text"] {
	width: 50%;
	height: 30px;
	margin-bottom: 10px;
}

.contact form textarea {
	width: 50%;
	height: 100px;
}

.contact form button {
	width: 50%;
	padding: 10px 0;
	border: 0;
	background: #222;
	color: #fff;
}

.contact form label {
	text-transform: uppercase;
}

/* MEDIA QUERIES */
@media (max-width: 800px) {
	#showcase h1 {
		font-size: 30px;
	}
}

@media (max-width: 500px) {
	#showcase .showcase-content {
		padding: 40px 10px;
	}
}
